.btn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    padding: 9px 22px;
    background: #000;
   /* width: 161px;
    height: 40px;
    left: 243px;
    top: 474px;*/
}