
.footerbackgr {
  background-color: #434343;
}

.footer__nav {
  display: flex;
  padding-top: 100px;
}

.bor__bot {
  border-bottom: 380px solid #666666;
  border-width: 1px;
  padding-bottom: 23px;
  width: 380px;
}

.bor__botsec {
  border-bottom: 380px solid #666666;
  border-width: 1px;
  padding-bottom: 23px;
  width: 1180px;
}

.navcuscon {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #AAAAAA;
}  

.foot__marbot {
  margin-bottom: 15px;
}

.foot__mt {
  margin-top: 28px;
}

.foot__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.foot__mb {
  margin-bottom: 28px;
}

.foot__secul__pad {
  padding-left: 19px;
}

.footer__navsec {
  display: flex;
  border-top: 1px solid #666666;
  padding-top: 23px;
}

.ul__footer {
  display: flex;
  padding-top: 28px;
}

.footer__oa {
  margin-left: 242px;
}

.foot__mail__block {
  display: flex;
  flex-direction: row;
  padding-left: 21px;
}

.foot__input__btn {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background: #000000;
  padding: 7px 20px;
}

.icons__footer {
  display: flex;
  padding-top: 22px;
  gap: 10px;
  padding-left: 22px;
}

.foot__connect__nav {
  padding-left: 21px;
}

.foot__copymar {
  margin-left: 182px;
  margin-right: 109px;
  padding-bottom: 100px;
}

.foot__comprate__li {
  display: flex;
  gap: 0px 25px;
}

.simple__rating {
  position: relative;
  font-size: 17px;
  display: inline-block;
}

.simple__rating::before {
  content: "★★★★★";
  display: block;
}

.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.simple-rating__item {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.simple-rating__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #fff;
}

.simple-rating__label::before {
  content: "★";
  display: block;
  transition: color #836E5B;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #836E5B;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: #C29974;
}

.foot__mail__input {
  width: 299px;
  height: 40px;
  border: none;
  background: #666666;
}