.forhone {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;   
    color: #1E0606;
}  

.forhome {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}

.forcontactus {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    color: #1E0606;
    opacity: 0.5;
}

.displayflex {
    display: flex;
}

.firstgap {
    gap: 16px;
    margin-bottom: 53px;
    margin-top: -12px;
}

.backgrfield {
    background: #E5EAF8;
}

.form__border {
    border: none;
}

.form__column {
    flex-direction: column;
}

.email__phone {
    display: flex;
}

.form__mar {
    margin-bottom: 60px;
}

.main__sec {
    display: flex;
    gap: 20px 120px;
    @media (min-width: 0px) and (max-width: 768px) {
        flex-direction: column-reverse;
        width: 648px;
    }
}

.firstli {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.thirdli {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
    width: 380px;
}

.marli {
    margin-bottom: 20px;
    margin-top: -2px;
}

.headersec {
    display: flex; /*задает блок*/
    margin-top: 50px; /*отступ сверху*/
    margin-bottom: 60px;
    align-items: center;
}

.brcrri {
    border: none;
}

.martsev {
    margin-top: 7px;
}

.popup {
  display: none;
  top: 25%;
  left: 30%;
  position: absolute;
}

.open {
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #7D97DACC;
}

.popup__wr {
  display: flex;
  z-index: 20;
  gap: 10px;
}

.close {
  background: none;
  width: 15px;
  height: 15px;
  background-image: url('../img/icon/close.svg');
  border: none;
}

.close:hover {
  background: none;
  width: 15px;
  height: 15px;
  background-image: url('../img/icon/close.svg');
  border: none;
  opacity: 70%;
}

.close:active {
  background: none;
  width: 15px;
  height: 15px;
  background-image: url('../img/icon/close.svg');
  border: none;
  opacity: 40%;
}

.contact__form {
  max-width: 680px;
  background: #E5EAF8;
  padding: 20px 40px 42px 40px;
}

input[type=text]:hover {
  border: 1px solid #C29974;
}

input[type=text]:focus {
  outline: none;
  border: 1px solid #C29974;
}

input[type=text]:disabled {
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
}

textarea:hover {
  border: 1px solid #C29974;
}

textarea:focus {
  outline: none;
  border: 1px solid #C29974;
}

.input__element {
  display: flex;
  gap: 20px;
  @media (min-width: 0px) and (max-width: 375px) {
    display: block;
}

}

.label__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.contact__label {
  margin-bottom: 3px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
}

.contact__input {
  /* max-width: 600px; */
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact__input::placeholder {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1E0606;
  padding: 20px;
}

.contact__input-two {
  width: 290px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.checkbox_position {
  margin-top: 20px;
}

.checkbox_input {
  position: absolute;
  opacity: 0;
  margin: 0;
}

.checkbox__label {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
  margin-left: 20px;
}

.checkbox__label::before {
  content: "";
  cursor: pointer;
  width: 19px;
  height: 19px;
  position: absolute;
  background-image: url("../img/icon/input.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: -25px;
}

.checkbox_input:checked + .checkbox__label::before {
  content: "";
  cursor: pointer;
  width: 19px;
  height: 19px;
  position: absolute;
  background-image: url("../img/icon/checked.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: -25px;
}

.btn__submit {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 9px 22px;
  margin-top: 17px;
  background: #000000;
}
