.svg__bottom {
    margin-bottom: 60px;
}

.svg__mount__one {
    left: 466px;
    position: absolute;
    top: 393px;
    z-index: 1;
}

.svg__mount__twow {
    left: 433px;
    position: absolute;
    top: 413px;
}

.svg__mount__threee {
    left: 496px;
    position: absolute;
    top: 521px;
    z-index: 1;
}

.svg__mount__fourth {
    left: 465px;
    position: absolute;
    top: 534px;
}