<footer class="footerbackgr">
  <nav>
      <div class="footer__nav container">
      <ul>
          <li class="bor__bot"><p class="navcuscon">Navigation</p></li>
          <li class="foot__marbot foot__mt"><a class="foot__text" href="/about-us.html">About Us</a></li>
          <li class="foot__marbot"><a class="foot__text" href="/blog.html">Blog</a></li>
          <li class="foot__marbot"><a class="foot__text" href="#">Design Services</a></li>
          <li class="foot__marbot"><a class="foot__text" href="#">Featured On</a></li>
          <li class="foot__marbot"><a class="foot__text" href="#">2018 Holiday Catalog</a></li>
          <li class="foot__mb"><a class="foot__text" href="#">Shop By Designer</a></li>                
      </ul>
      <ul class="foot__secul__pad">
          <li class="bor__bot"><p class="navcuscon">Customer Information</p></li>
          <li class="foot__marbot foot__mt"><a class="foot__text" href="/contact.html">Contact Us</a></li>
          <li class="foot__marbot"><a class="foot__text" href="#">Sale Exclusions</a></li>
          <li class="foot__marbot"><a class="foot__text" href="#">Shipping & Returns</a></li>
          <li class="foot__marbot"><a class="foot__text" href="#">Terms & Conditions</a></li>
          <li class="foot__marbot"><a class="foot__text" href="#">Privacy Policy</a></li>
          <li class="foot__marbot foot__mb"><a class="foot__text" href="#">Search</a></li>               
      </ul>
  <ul class="">
      <li class="bor__bot foot__connect__nav"><p class="navcuscon">Connect</p></li>
      <li>        
          <div class="foot__mail__block foot__mt">  
      <input class="foot__mail__input" type="text" name="text" placeholder="Email">  
      <button class="foot__input__btn" type="submit">JOIN</button>  
  </div>
  <div>
      <ul class="icons__footer">
          <li><a href="https://www.facebook.com/"><img src="./img/icon/facebook.svg" alt="FB" width="30" height="30"></a></li>
          <li><a href="https://twimg.com/"><img src="./img/icon/twitter.svg" alt="Twitter" width="30" height="30"></a></li>
          <li><a href="https://pinterest.com/"><img src="./img/icon/pinterest.svg" alt="Pinterest" width="30" height="30"></a></li>
          <li><a href="http://instagram.com/"><img src="./img/icon/instagram.svg" alt="Instagram" width="30" height="30"></a></li>
      </ul>
  </div>
  </ul>
  </nav>
  </div>
  <ul class="container footer__navsec">
      <li>
          <div class="container finish">
          <div class="form__item foot__comprate__li">
              <div class="form__label foot__text">Company Rating</div>
              <div class="simple__rating">
                  <div class="simple-rating__items">
                      <input id="simple-rating-5" type="radio" class="simple-rating__item" name="simple-rating" value="5">
                      <label for="simple-rating-5" class="simple-rating__label"></label>
                      <input id="simple-rating-4" type="radio" class="simple-rating__item" name="simple-rating" value="4">
                      <label for="simple-rating-4" class="simple-rating__label"></label>
                      <input id="simple-rating-3" type="radio" class="simple-rating__item" name="simple-rating" value="3">
                      <label for="simple-rating-3" class="simple-rating__label"></label>
                      <input id="simple-rating-2" type="radio" class="simple-rating__item" name="simple-rating" value="2">
                      <label for="simple-rating-2" class="simple-rating__label"></label>
                      <input id="simple-rating-1" type="radio" class="simple-rating__item" name="simple-rating" value="1">
                      <label for="simple-rating-1" class="simple-rating__label"></label>
                  </div>
              </div>
          </div>
      </li>
      <li class="bordersec foot__copymar">
      <a class="foot__text" href="#">Copyright © 2018 Dlk • Design Life Kids</a>
      </li>
      <li>
          <a class="navcuscon" href="#">Web Design — Direct Line Development</a>
      </li>
  </ul>
</footer>