<header class="header container">
        <a href="/index.html"><img class="header__logo" src="./img/icon/logo.png" alt="Logo" width="101" height="52"></a>
        <nav class="header__nav left">
          <ul class="header__list">
           <li class="header__navigate"><a href="/catalog.html" style="font-family: Open Sans;" class="header__list-link__catalog">CATALOG</a></li>
           <li class="header__navigate"><a href="/contact-us.html" style="font-family: Open Sans;" class="header__list-link__about">ABOUT US</a></li>
           <li class="header__navigate"><a href="/blog.html" style="font-family: Open Sans;" class="header__list-link__blog">BLOG</a></li>
           <li class="header__navigate"><a href="/animation.html" style="font-family: Open Sans;" class="header__list-link__animation">ANIMATION</a></li>  
           <li class="header__navigate"><a href="/svg.html" style="font-family: Open Sans;" class="header__list-link__svg">SVG</a></li>
           <li class="header__navigate"><a href="/grid.html" style="font-family: Open Sans;" class="header__list-link__svg">GRID</a></li>
          </ul>
          <button class="header__menu" type="button">MENU</button>
            <a href="#"><img class="search" src="./img/icon/search.svg" alt="search"></a>
          <ul class="header__list header__nav">
            <li class="header__navigate"><a href="/contact-us.html" class="header__list-link__contact">CONTACT US</a></li>
          </ul>          
        </nav>
</header>